h1 {
    color:blueviolet;
}

{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: skyblue;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: blanchedalmond;
    text-align: center;
    background-image: linear-gradient(to top, #ff0844 0%, green 100%);
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_toggle .var {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in0out;
    background: white;
}

.fa-gem {
    margin-right: 0.5rem
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_menu.active {
    background: black;
    top: 100%;
    opacity: 1;
    transition:  all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
}

#navbar_logo {
    padding-left: 25px;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn_signup {
    height: 80px;
}

.button_signup {
	color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_btn_signin {
    height: 80px;
}

.button_signin {
	color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
    background-color: transparent;
  }
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

#mobile-menu {
    positionL absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}

.navbar_btn {
    padding-bottom: 2rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
}

.navbar_toggle .bar {
    display: block;
    cursor: pointer;
}

#mobile-menu.is-active . bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active . bar:nth-child(1) {
    transform: translateY(8px) rorate(45deg);
}


